doctype html
html(lang="en-US")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='author', content='Brian Soe')
        meta(name='keywords', content='Web, Software, Design, Development, HTML, CSS, Javascript, Python, Java, Ruby')
        meta(name='description', content='Personal Site of Brian Soe')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='icon', type='image/x-icon', href='/favicon.ico')
        link(rel='shortcut icon', type='image/x-icon', href='/favicon.ico')
        //- style(type='text/css').
        //-     body {visibility: hidden;overflow:hidden;}
        //- noscript
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Oswald:400,700|Open+Sans:300,400,600")
        if (env === 'production')
            link(rel='stylesheet', href='/style.min.css')
        else
            link(rel="stylesheet", href="/utility/_lightbox.min.css")
            link(rel="stylesheet", href="/utility/_leaflet.min.css")
            link(rel='stylesheet', href='/style.css')
        title Brian Soe
    body(class='animate-in')
        block layout
        if (env === 'production')
            script(type="text/javascript", src='/script.min.js', defer)
        else
            script(type="text/javascript", src="/utility/_jquery.js")
            script(type="text/javascript", src="/utility/_leaflet.js")
            script(type="text/javascript", src='/script.js')
            script(type="text/javascript", src="/utility/lightbox.js")
