@import './_fonts';
@import './_variables';

::selection {
  background: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $body-bg-color;
  color: $text-color;
  margin: 0;
  padding: 0;
}

a {
  color: $text-color;
  text-decoration: none;
}

svg {
  fill: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

div#root {
  background-color: $body-bg-color;
}

main {
  background: $main-bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $main-margin;
  height: calc(100vh - #{2 * $main-margin});
}

@media only screen and (max-width: $mobile-width) {
  main {
    margin: $main-margin * 0.5;
    height: calc(100vh - #{2 * $main-margin * 0.5});
  }
}
