@import './_variables';

footer {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
  align-items: center;
  width: calc(100% - #{2 * $section-margin});
  margin-left: $section-margin;
  margin-right: $section-margin;
  height: 4em;

  /* copyright text */
  small {
    position: relative;
    font-size: 10pt;
    font-weight: 300;
  }

  section#social {
    position: relative;
    margin: 0;
    margin-left: auto;

    a.social {
      display: inline-block;
      width: $social-icon-size;
      height: $social-icon-size;
      margin-left: $social-icon-margin;
      margin-right: $social-icon-margin;
      border-radius: 100%;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }

      svg {
        transition: fill 0.4s ease;
        width: inherit;
        height: inherit;

        &#linkedin:hover {
          fill: $linkedin-icon-color;
        }

        &#github:hover {
          fill: $github-icon-color;
        }

        &#twitter:hover {
          fill: $twitter-icon-color;
        }

        &#pinterest:hover {
          fill: $pinterest-icon-color;
        }
      }
    }
  }
}

@media only screen and (max-width: $mobile-width) {
  footer {
    flex-direction: column;
    text-align: center;
    height: 5em;

    small {
      margin-bottom: 0.5em;
    }

    section#social {
      margin-top: 0.5em;
      margin-right: auto;

      a.social {
        width: $social-icon-size * 0.75;
        height: $social-icon-size * 0.75;
      }
    }
  }
}

@media only screen and (max-width: $iphone4-width) {
  footer {
    small {
      font-size: 9pt;
    }
  }
}
