@import './_variables';

section#intro,
noscript {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: $section-margin;
  margin-right: $section-margin;

  h4 {
    font-weight: 400;
  }
}

noscript {
  text-align: center;
}

section#intro {
  width: calc(100% - #{2 * $section-margin});
  font-size: 2.5vw;

  h4.role {
    display: inline;
  }

  span,
  a {
    font-size: 1.5vw;
    font-weight: 300;
  }

  span:global(.typed-cursor) {
    font-size: inherit;
  }

  span:global(.typed-cursor--blink) {
    animation: blink 1s steps(5, start) infinite;
  }

  a#resume {
    background-color: $resume-button-color;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: inline-flex;
    margin-top: $resume-button-padding;
    padding-left: $resume-button-padding;
    padding-right: $resume-button-padding;
    height: 2.5em;
    align-items: center;
    align-content: center;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    transition: background-color 0.4s ease;

    &:hover {
      background-color: $resume-button-hover-color;
    }
  }
}

svg#logo {
  transform: translateY(1px);

  path {
    transition: fill 0.2s ease;
  }

  path:nth-child(2) {
    fill: $logo-red-color;
  }
  path:nth-child(3) {
    fill: $logo-yellow-color;
  }
  path:nth-child(4) {
    fill: $logo-green-color;
  }
  path:nth-child(5) {
    fill: $logo-blue-color;
  }
}

@media only screen and (max-width: $tablet-width) {
  section#intro {
    text-align: center;
    font-size: 24pt;

    span,
    a {
      font-size: 16pt;
    }
  }
}

@media only screen and (max-width: $mobile-width) {
  section#intro {
    text-align: center;
    font-size: 16pt;

    span,
    a {
      font-size: 10pt;
    }
  }
}

@media only screen and (max-width: $iphone4-width) {
  section#intro {
    a {
      display: block;
      margin-top: 0.5em;
    }

    span {
      display: none;
    }
  }
}
