footer(data-role="footer")
    section
        div(id='social')
            a(href='https://linkedin.com/in/bsoe003', target='_blank', rel="external")
                include ../svg/social/linkedin.jade
            a(href='https://github.com/bsoe003', target='_blank', rel="external")
                include ../svg/social/github.jade
            a(href='https://twitter.com/bsoe003', target='_blank', rel="external")
                include ../svg/social/twitter.jade
            a(href='https://www.pinterest.com/bsoe003/', target='_blank', rel="external")
                include ../svg/social/pinterest.jade
        p &copy; 2016 • Brian Soe • Custom Built.